<div class="container-fluid">
  <!-- <app-device-form></app-device-form> -->
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Modelo</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Cap. Armazenamento</th>
            <th scope="col">Tamenho Tela</th>
            <th scope="col">Versão S.O.</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices">
            <td>{{ device.device_id }}</td>
            <td>{{ device.device_modelo }}</td>
            <td>{{ device.device_fabricante }}</td>
            <td>{{ device.device_capacidade_armazenamento }}</td>
            <td>{{ device.device_tamanho_tela }}</td>
            <td>{{ device.device_versao_so }}</td>
            <td>
              <div class="actions">
                  <i class="far fa-folder-open" title="Visualizar {{ device.device_modelo }}"></i>
                  <i class="far fa-edit" title="Alterar {{ device.device_modelo }}"></i>
                  <i class="fas fa-trash-alt" title="Excluir {{ device.device_modelo }}"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>