table tbody{
    font-size: 14px;
}

table td:last-child, th:last-child{
    text-align: center;
}

table tr i {
    visibility: hidden;
}

table tr:hover i{
    visibility: unset;
}

.actions{
    display: inline;
}

.actions i {
    font-size: 14px;
    padding: 2px 20px;
}

.actions i:hover{
    cursor: pointer;
    color: blue;
}