<device-device-search></device-device-search>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Modelo</th>
            <th scope="col">Fabricante</th>
            <th class="text-center" scope="col">Armazenamento (GB)</th>
            <th class="text-center" scope="col">Tamanho da tela</th>
            <th class="text-center" scope="col">Versão S.O.</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="devices; else noDevicesFound">
          <tr *ngFor="let device of devices">
            <td>{{ device.device_id }}</td>
            <td>{{ device.device_modelo }}</td>
            <td>{{ device.device_fabricante }}</td>
            <td class="text-center">{{ device.device_capacidade_armazenamento }}</td>
            <td class="text-center">{{ device.device_tamanho_tela }}</td>
            <td class="text-center">{{ device.device_versao_so }}</td>
            <td>
              <div class="actions">
                <i class="far fa-edit" title="Alterar {{ device.device_modelo }}" (click)="editarDevice(device);"></i>
                <i class="fas fa-trash-alt" title="Excluir {{ device.device_modelo }}"
                  (click)="modalExcluiDispositivo(device);"></i>
              </div>
            </td>
          </tr>
        </tbody>
          <ng-template #noDevicesFound>
            <tbody>
              <tr>
                <td colspan="7">
                  <span class="no-devices-found">
                    Não há dispositivos cadastrados.
                  </span>
                </td>
              </tr>
            </tbody>
          </ng-template>
      </table>
    </div>
  </div>
</div>