<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Cap. Armazenamento</th>
                    <th scope="col">Tamenho Tela</th>
                    <th scope="col">Versão S.O.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>                  
                </tbody>
              </table>
        </div>
        <div class="col-sm">
            <app-device-view></app-device-view>
        </div>
    </div>
</div>
