<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" 
            aria-label="Close" (click)="closeDialog();">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="col-xl-6">
                            <input *ngIf="id" type="hidden" formControlName="id" />
                            <div class="form-group">
                                <label for="modelo">Modelo</label>
                                <input type="text" class="form-control" id="modelo" placeholder="Modelo"
                                    formControlName="modelo" required>
                            </div>
                            <div class="form-group">
                                <label for="fabricante">Fabricante</label>
                                <input type="text" class="form-control" id="fabricante" placeholder="Fabricante"
                                    formControlName="fabricante" required>
                            </div>
                            <div class="form-group">
                                <label for="capacidadeArmazenamento">Capacidade de Armazenamento</label>
                                <input type="number" class="form-control" id="capacidadeArmazenamento"
                                    placeholder="Capacidade de Armazenamento" formControlName="capacidadeArmazenamento"  required>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="tamanhoTela">Tamanho da tela</label>
                                <input type="number" class="form-control" id="tamanhoTela" placeholder="Tamanho da tela"
                                    formControlName="tamanhoTela" required>
                            </div>
                            <div class="form-group">
                                <label for="versaoSO">Versão do Sistema Operacional</label>
                                <input type="text" class="form-control" id="versaoSO"
                                    placeholder="Versão do Sistema Operacional" formControlName="versaoSO" required>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
